@mixin button {
    display: block;
    border-radius: 5px;
    background-color: $main-element-color;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
@mixin link_hover {
    &:hover {
        color: $main-text-color;
    }
}

@mixin btn_hover {
    &:hover {
        transition: .5s all;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

@mixin tab_hover {
    &:hover {
        transition: .5s all;
        box-shadow: 0px 0px 20px 0px $main-element-color;
    }
}
