.advantages {
    padding: 70px 0 81px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        width: 247px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: $second_text_color;
    }
    &__text {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 300;
        color: $second_text_color;
        a {
            text-transform: uppercase;
            color: #ff0000;
            text-decoration: underline;
        }
    }
}